<!-- todo-list.hbs -->
<form class="form-inline mb-3" onsubmit={{fn this.submit @model}}>
  <div class="form-group mr-2">
    <input type="text" class="form-control" value={{this.text}} oninput={{fn this.onChange}}>
  </div>
  <button type="submit" class="btn btn-primary">Add Todo</button>
</form>
<ol class="list-group">
  {{#each @model as |todo|}}
    <li class="list-group-item">
      {{todo}}
      <button type="button" class="btn btn-danger btn-sm float-right" {{on "click" (fn this.delete @model todo)}}>Delete</button>
    </li>
  {{/each}}
</ol>
